<form [formGroup]="form" (ngSubmit)="login()">

  <div *ngIf="form.errors" class="alert alert-danger">
    Fields are incorrect
  </div>

  <div class="form-group">
    <label>Old Password</label>
    <input formControlName="oldPassword" type="password" class="form-control">
    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">Old Password Required.</div>
      <div *ngIf="oldPassword.errors.invalidOldPassword">Old Password is Invalid.</div>
    </div>
  </div>

  <div class="form-group">
    <label>New Password</label>
    <input formControlName="newPassword" type="password" class="form-control">
    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">New Password Required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input formControlName="confirmPassword" type="password" class="form-control">
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">Must Confirm Password.</div>
    </div>
    <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">
      Passwords Do Not Match.
    </div>
  </div>

  <button formControlName="confirmPassword" class="btn btn-primary">Change Password</button>

</form>